/*.gradient-background {
  background: linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab,
    #23a6d5
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 20vh;
}*/

:root {
  --primary: #333333;
  --light: #eff5ff;
  --dark: black;
}

@keyframes gradient-animation {
  0% {
    background-position: 10% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.text-overlay {
  position: relative;
  color: white;
}

.text-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* שכבת רקע כהה ב-50% שקיפות */
  z-index: -1; /* שהשכבה לא תכסה את הטקסט */
}

.text-shadow {
  color: white;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8); /* צל עמוק יותר */
}

.back-to-top {
  position: fixed;
  display: none;
  right: 45px;
  bottom: 45px;
  z-index: 99;
  width: 48px;
  height: 48px;
  background-color: #333333; /* צבע לבן לרקע של הכפתור */
  border-radius: 50%; /* צורת עיגול */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* תוספת של צל */
  border: #333333;
}

.back-to-top i {
  font-size: 24px;
  color: #eff5ff; /* צבע לבן לאייקון */
  transition: color 0.3s ease;
}

.back-to-top:hover {
  background-color: #ffffff; /* צבע רקע לבן בריחוף */
}

.back-to-top:hover i {
  color: #333333; /* צבע לבן לאייקון בריחוף */
}

#spinner {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
  z-index: 99999;
}

#spinner.show {
  transition: opacity 0.5s ease-out, visibility 0s linear 0s;
  visibility: visible;
  opacity: 1;
}

.bg-body-tertiary {
  background-image: url("/images/pic7.webp"); /* הכנס את נתיב התמונה כאן */
  background-size: cover; /* גורם לתמונה להתאים לגודל הקונטיינר */
  background-position: center; /* ממקם את התמונה במרכז */
}
.bg-body-tertiary-proj1 {
  background-image: url("/images/pic8.webp"); /* הכנס את נתיב התמונה כאן */
  background-size: cover; /* גורם לתמונה להתאים לגודל הקונטיינר */
  background-position: center; /* ממקם את התמונה במרכז */
}
.bg-body-tertiary-proj2 {
  background-image: url("/images/My_blog_back_pic.webp"); /* הכנס את נתיב התמונה כאן */
  background-size: cover; /* גורם לתמונה להתאים לגודל הקונטיינר */
  background-position: center; /* ממקם את התמונה במרכז */
}

.bg-body-tertiary-proj3 {
  background-image: url("/images/ExpenseTracker_12.webp"); /* הכנס את נתיב התמונה כאן */
  background-size: cover; /* גורם לתמונה להתאים לגודל הקונטיינר */
  background-position: center; /* ממקם את התמונה במרכז */
}

.pic1 {
  color: aliceblue;
}

/* שינוי צבע הרקע של הכפתור הפעיל */
.nav-pills .nav-link.active {
  background-color: inherit; /*לשנות פה לשחור או צבע אחר אם אני רוצה */ /* צבע רקע לכפתור הפעיל */
  color: white; /* צבע הטקסט לכפתור הפעיל */
}

.nav-item .nav-link {
  color: white;
}
.lead-text-center {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

/*** Button ***/
.btn {
  font-weight: 500;
  transition: 0.5s;
  color: #333333;
}

.btn.btn-primary,
.btn.btn-secondary {
  color: #333333;
}

.btn-square {
  width: 38px;
  height: 38px;
}

.btn-sm-square {
  width: 32px;
  height: 32px;
}

.btn-lg-square {
  width: 48px;
  height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.card-cover {
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease, background-size 0.3s ease;
}

.card-cover:hover {
  transform: scale(1.05); /* הגדלת הקוביה ב-5% */
  background-size: 110%; /* הגדלת גודל התמונה ב-10% בעת הריחוף */
}

.about-new {
  font-size: 18px; /* גודל טקסט */
  .about-new {
    background-color: rgba(0, 0, 0, 0.6); /* רקע שחור חצי שקוף */
    color: #ffffff; /* טקסט בצבע לבן */
    padding: 20px;
    border-radius: 10px; /* פינות מעוגלות */
  }
}

h1.lead-text-center {
  font-family: "Playfair Display", serif;
  font-size: 40px; /* גודל כותרת */
  color: #ffffff; /* צבע לבן */
}

p.lead-about {
  font-family: "Open Sans", sans-serif;
  font-size: 18px; /* גודל טקסט רגיל */
  line-height: 1.6; /* מרווח בין השורות */
  color: #ffffff; /* צבע לבן */
}

.social-icons {
  margin-top: 15px;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
  width: 24px;
  height: 24px;
}

.social-icons svg {
  fill: white;
  transition: fill 0.3s;
}

.social-icons a:hover svg {
  fill: #333333; /* שינוי צבע במעבר עכבר */
}

.feature-icon {
  background-color: #333333; /* הסרת הרקע הכחול */
  fill: #ffffff; /* צבע ה-SVG בלבן */
}

.skills-section {
  color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.skills-section h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #ffffff;
}

.skill-item {
  margin-bottom: 20px;
}

.skill-icon {
  margin-bottom: 15px;
}

.skill-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.skill-item p {
  font-size: 1rem;
  color: #cccccc;
}

.no-bullets {
  list-style-type: none; /* ביטול הנקודות ברשימה */
  padding-left: 0;
}

.projects-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #ffffff;
}
